/* style.css
 * This styles the file index.html
 */
 @font-face {
    font-family: 'Brush-Script-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('Brush-Script-Regular.ttf') format('truetype');
}

 html, body {
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #d4d5f8, #a798eb, #759bee, #6288f1);
    background-size: 400% 400%;
    animation: gradient 30s ease-in-out infinite;
    overflow-x: hidden;
    overflow-y: auto;
}

.name {
    font-size: 5rem;
    font-family: Brush-Script-Regular;
}

.main-content {
    flex-grow: 1;
}

.social-icon {
    font-size: 2rem;
    margin: 0 0.5rem; /* top/bottom right/left */
    color: aliceblue;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.navbar-nav{
    width: 80%;
    border-bottom: 1px solid black;
}
.center-logo {
    font-size: 20pt;
    font-weight: 600;
}
.nav-item{
}


.active {
    background-color: #a798eb;
}

/*.cHeader::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.1s ease-in-out;
    background-color: transparent;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}*/

/*ul {
    list-style-type: none;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}*/

/* navbar links */
/*li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/

/* Change the link color to #111 (black) on hover */
/*li a:hover {
    background-color: #111;
}*/

 /* classes start with .*/
 /* ids start with # */

